.card>img{
    width:315px;
    height:300px;
    background:#F1F1F1;
    border-radius: 5px;
}
.casual-shoes{
    margin-top:80px;
}
.first-section img, .second-section img, .third-section img{
    width:78px;
    height:82px;
   
}
.comment{
    width: 276px;
    color:#363958;
}
.bottom{
    margin-top: 100px;
}